{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Logowanie - Formek{% endblock %}

{% block content %}
    <h3>Najszybszy żółw w świecie formularzy.</h3>
    
    <div class="logform form-row">
        <form method="post" novalidate>
            {% csrf_token %}
            {% comment %} {{ form|crispy }} {% endcomment %}
                <div class="form-row">
                <label for="{{ form.username.id_for_label }}">nazwa żółwia</label>
                {{ form.username }}
            </div>
            {% comment %} <div class="form-row">
            <label for="id_username">Imię Żółwia</label>
            <input type="text" name="username" id="id_username" 
            required aria-required="" 
            aria-invalid="false">
            </div> {% endcomment %}
            <div class="form-row">
                <label for="{{ form.password.id_for_label }}">Hasło żółwia</label>
                {{ form.password }}
            </div>
            <input id="btn" type="submit" value="Zaloguj się" class="btn btn-primary">
        </form>
        <br>
        <div class="links">
            {% comment %} <a href="{% url 'register' %}">Poznaj Formka i jego formularze - utwórz konto</a>
            <br><br>
            <a href="{% url 'password_reset' %}">Problem z wejściem do skorupy? – Zresetuj swoje hasło</a> {% endcomment %}
        </div>
    </div>
{% endblock %}