body {
    background-image: url("/grafika/white-waves.webp");
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.container {
    background-color: #FFF;
    max-width: 900px;
    width: 95%;
    min-height: 80vh;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    /* Stopka na dole ekranu */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.add_button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 40px;
    max-width: 600px;      
    margin: 30px auto;
}

.ikona-box {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    width: 200px;
    padding: 20px;
    transition: 0.3s;
    border-radius: 10px;
    cursor: pointer;
}

button {
    background-color: #16833e;
    color: #FFF;
}


.ikona-box i {
    font-size: 55px;
    color: #2e4d2e;
    margin-bottom: 12px;
    color: #FFF;
}


.ikona-box span {
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
}


.ikona-box:hover {
    background-color: #126d34;
    color: #FFF;
    font-style: italic;
}

.ikona-box:hover i {
    color: #FFF;
}


a {
    text-decoration: none;
    color: #000;
    padding: 5px;
    margin-top: 50px;
    margin-bottom: 10px;
}

a:hover{
    color: #126d34;
    text-decoration: underline;
    font-weight: 700;
}

#menu ul {
    display: flex;
    justify-content: center; 
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}


#menu a {
    margin: 0;            
    padding: 10px 15px;
    display: block;       
}


#foot {
    text-align: center; 
    padding: 20px;
    padding-bottom: 25px;
    background-color: #16833e;
    color: #FFF; 
    font-family: sans-serif;
    border-top: 1px solid #d1dbd1;
    /* margin-top: 50px; */
    margin-top: auto;
}

.exit-link {
    font-weight: bold;
    color: #555; 
    margin-left: 20px; 
    border-left: 1px solid #ccc;
}

.exit-link:hover {
    color: #a83232;
    text-decoration: none;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}