body {
    background-image: url("/grafika/white-waves.webp");
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    background-color: #FFF;
    width: 950px;
    height: 950px;
    text-align: center;
    margin: auto;
}


.logform{
    margin: auto;
}

h1{
    padding-top: 20px;
}

h1, h3 {
    color: #16833e;
    text-align: center;
    text-transform: uppercase;
}

input[type="email"],
input[type="password"] {
    padding-top: 7px;
    background-color: #ffffff;
    color: black;
    font-size: 20px;
    width: 300px;
    margin: 5px;
    box-sizing: border-box;
}

input[type="email"],
input[type="password"],
input[type="text"]:focus {
    color: #000;
}


#btn {
    background-color: #126d34;
    color: #ffffff;
    letter-spacing: 4px;
    height: auto;
    width: 300px;
    border-color: black;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
}

#btn:hover {
    background-color: #22C55E;
}


#foot {
    text-align: center; 
    padding: 20px;
    padding-bottom: 15px;
    background-color: #16833e;
    color: #FFF; 
    font-family: sans-serif;
    border-top: 1px solid #d1dbd1;
    margin-top: 50px;
    margin-bottom: -50px;
}


a {
    text-decoration: none;
    color: #000;
    padding: 5px;
    margin-top: 50px;
    margin-bottom: 10px;
}

a:hover{
    color: #126d34;
    text-decoration: underline;
    font-weight: 600;
}


ul > li {
    list-style-type: none;
}




