body {
    background-image: url("/grafika/white-waves.webp");
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    background-color: #FFF;
    width: 950px;
    height: 850px;
    text-align: center;
    margin: auto;
}


.logform{
    margin: auto;
}

h1{
    padding-top: 20px;
}

h1, h2, h3 {
    color: #16833e;
    text-align: center;
    text-transform: uppercase;
}

input[type="email"],
input[type="password"], 
input[type="text"] { 
    padding-top: 7px;
    background-color: #ffffff;
    color: black;
    font-size: 20px;
    width: 300px;
    margin: 5px;
    box-sizing: border-box;
}

input[type="email"],
input[type="password"],
input[type="text"]:focus {
    color: #000;
}


#btn {
    background-color: #126d34;
    color: #ffffff;
    letter-spacing: 4px;
    height: auto;
    width: 300px;
    border-color: black;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin-top: 20px;
}

#btn:hover {
    background-color: #22C55E;
}


#foot {
    text-align: center; 
    padding: 20px;
    padding-bottom: 26px;
    background-color: #16833e;
    color: #FFF; 
    font-family: sans-serif;
    border-top: 1px solid #d1dbd1;
    margin-top: 50px;
    margin-bottom: -50px;
}


a {
    text-decoration: none;
    color: #000;
    padding: 5px;
    margin-top: 50px;
    margin-bottom: 10px;
}

a:hover{
    color: #126d34;
    text-decoration: underline;
    font-weight: 600;
}

#menu ul {
    display: flex;
    justify-content: center; 
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}


#menu a {
    margin: 0;            
    padding: 10px 15px;
    display: block;       
}

ul > li {
    list-style-type: none;
}



select {
    appearance: none; /* Usuwa domyślny wygląd systemowy */
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 10%;
    margin-top: 10px;
    font-size: 18px;
    font-family: inherit;
    color: #333;
    background-color: #ffffff;
    border: 2px solid #2e7d32;
    border-radius: 8px; 
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}

/* Efekt po najechaniu lub kliknięciu */
select:hover {
    border-color: #1b5e20;
    box-shadow: 0 0 8px rgba(46, 125, 50, 0.2);
}

select:focus {
    border-color: #1b5e20;
    box-shadow: 0 0 10px rgba(46, 125, 50, 0.3);
}

input[type="date"] {
    width: 16%;
    margin-top: 10px;
    font-size: 18px;
    font-family: inherit;
    color: #333;
    background-color: #ffffff;
    border: 2px solid #2e7d32;
    border-radius: 8px; 
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}


.form-icon i {
    color: #2e7d32; 
    font-size: 15rem;
    margin-bottom: 10px;
}


.exit-link {
    font-weight: bold;
    color: #555; 
    margin-left: 20px; 
    border-left: 1px solid #ccc;
}

.exit-link:hover {
    color: #a83232;
    text-decoration: none;
}


/* GITHUB ICON */

a[aria-label*="GitHub"] {
    text-decoration: none;
    color: #333;
    font-size: 2rem;
    transition: transform 0.2s;
}

a[aria-label*="GitHub"]:hover {
    color: #FFF;
    transform: scale(1.1);
}


a[aria-label*="GitHub"]:focus {
    outline: 3px solid #FFF;
    /* outline-offset: 4px; */
}