body {
    background-image: url("/grafika/white-waves.webp");
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    background-color: #FFF;
    width: 900px;
    min-height: 80vh;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}


h1{
    padding-top: 20px;
}

h1, h3 {
    color: #16833e;
    text-align: center;
    text-transform: uppercase;
}

.add_button{
    display: flex;
    flex-wrap: wrap;       /* Pozwala kafelkom przeskoczyć do nowej linii */
    justify-content: center; 
    gap: 40px;             /* Solidne odstępy */
    max-width: 800px;      /* Ograniczamy szerokość, żeby wymusić 2x2 */
    margin: 30px auto;
}

.ikona-box {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    width: 150px;
    padding: 20px;
    transition: 0.3s;
    border-radius: 10px;
    cursor: pointer;
}

.ikona-box i {
    font-size: 50px;
    color: #2e4d2e;        
    margin-bottom: 12px;
}

.ikona-box span {
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
}


.ikona-box:hover {
    background-color: #126d34;
    color: #FFF;
}

.ikona-box:hover i {
    color: #FFF;
}


a {
    text-decoration: none;
    color: #000;
    padding: 5px;
    margin-top: 50px;
    margin-bottom: 10px;
}

a:hover{
    color: #126d34;
    text-decoration: underline;
    font-weight: 600;
}

#menu ul {
    display: flex;
    justify-content: center; 
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}


#menu a {
    margin: 0;            
    padding: 10px 15px;
    display: block;       
}


#foot {
    text-align: center; 
    padding: 20px;
    padding-bottom: 15px;
    background-color: #16833e;
    color: #FFF; 
    font-family: sans-serif;
    border-top: 1px solid #d1dbd1;
    margin-top: 50px;
    margin-bottom: -50px;
}

.exit-link {
    font-weight: bold;
    color: #555; 
    margin-left: 20px; 
    border-left: 1px solid #ccc;
}

.exit-link:hover {
    color: #a83232;
    text-decoration: none;
}