body {
    background-image: url("grafika/white-waves.webp");
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    background-color: #FFF;
    width: 950px;
    height: 950px;
    text-align: center;
    margin: auto;
}


.logform{
    margin: auto;
}

h1{
    padding-top: 20px;
}

h1, h3 {
    color: #16833e;
    text-align: center;
    text-transform: uppercase;
}

input[type="text"],
input[type="password"] {
    padding-top: 7px;
    background-color: #ffffff;
    color: black;
    font-size: 20px;
    width: 300px;
    margin: 5px;
    box-sizing: border-box;
}

input[type="text"],
input[type="password"],
input[type="text"]:focus {
    color: #000;
}


#btn {
    background-color: #126d34;
    color: #ffffff;
    letter-spacing: 4px;
    height: auto;
    width: 300px;
    border-color: black;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
}

#btn:hover {
    background-color: #22C55E;
}


#foot {
    text-align: center; 
    padding: 20px;
    padding-bottom: 15px;
    background-color: #16833e;
    color: #FFF; 
    font-family: sans-serif;
    border-top: 1px solid #d1dbd1;
    margin-top: 50px;
    margin-bottom: -50px;
}


a {
    text-decoration: none;
    color: #000;
    padding: 5px;
    margin-top: 50px;
    margin-bottom: 10px;
}

a:hover{
    color: #126d34;
    text-decoration: underline;
    font-weight: 600;
}


ul > li {
    list-style-type: none;
}

/* Form */

form {
    display: flex;
    flex-direction: column; /* Układamy elementy w pionie */
    align-items: center;    /* Środkujemy elementy w poziomie */
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
    max-width: 400px; /* Ograniczamy szerokość, żeby nie był za chudy */
}

/* Wyrównanie napisów do prawej, żeby były blisko pól */
.form-row label {
    flex: 0 0 140px; 
    text-align: right;
    margin-right: 15px;
    font-weight: bold;
}

/* Pole tekstowe */
.form-row input {
    flex: 1;
    padding: 8px;
    border: 1px solid #16833e;
    border-radius: 4px;
}

/* Przycisk logowania na środku */
form button[type="submit"] {
    margin-top: 10px;
    padding: 10px 25px;
    background-color: #28a745; /* Możesz dać kolor "żółwiowy" */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}